
    <div class="pb-3">
        @Html.RadioButton("rateType", "Epaper", htmlAttributes: new { @class = "btn-check", @autocomplete = "off", @id = "ePaper" })<label class="btn btn-outline-primary mx-md-2" for="ePaper">ePaper</label>
        @Html.RadioButton("rateType", "Print", htmlAttributes: new { @class = "btn-check", @autocomplete = "off", @id = "Print" })<label class="btn btn-outline-secondary mx-md-2" for="Print">Print</label>
        @Html.RadioButton("rateType", "Bundle", htmlAttributes: new { @class = "btn-check", @autocomplete = "off", @id = "Bundle" })<label class="btn btn-outline-danger mx-md-2" for="Bundle">Bundle</label>
       <!-- <input type="submit" value="Search" /> -->
    </div>


