<div class="portfolio-info">
    <h3>Summary</h3>
    <ul>
        <li><strong>Plan</strong>: 1 Month (30 Days) - Free</li>
        <li><strong>Client</strong>: ASU Company</li>
        <li><strong>Project date</strong>: 01 March, 2020</li>
        <li><strong>Project URL</strong>: <a href="#">www.example.com</a></li>
    </ul>
</div>
<div class="portfolio-description">
    <h2>Other Details</h2>
    <p>
        Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.

        
    </p>
</div>
            
