<div class="portfolio-info">
    <h5><strong>The Jamaica Observer Limited</strong> </h5>
    <p>Epaper Plan</p><br />
    <p><strong>What's included</strong></p>
    <ul>
        <li>Observer's smartphone app and tablet edition</li>
        <li>The Sunday Observer</li>
        <li>The Daily Observer Monday to Friday</li>
        <li>The Saturday Observer</li>
        <li>All supplements offered via print media</li>
    </ul>
    <br />
    <p><strong>Your subscription start date</strong></p>
    <p>Your subscription starts today: Nov. 2, 2022
</div>
<div class="portfolio-description">
    <h5><strong>Billing information</strong></h5>
        <p><small>Your first payment of $15.00 will be taken on 2nd November 2022.</small></p>
        <p><small>A payment of $15.00 will be taken on the 14th of the month thereafter. A minimum subscription term of 3 months applies.</small></p>
        <p><small>You are entitled to a full refund within the first 14 days of your subscription. If you do this, your access will be stopped.</small></p>
        <p><small>>To cancel after your minimum term, please contact our Customer Services team 15 days before the end of your 13 weeks voucher book.</small></p>
        <p><small>You will shortly be sent a confirmation email.</small></p>
</div>
            
